/* common */

body {
    font-family: 'Lato', sans-serif;
}

.nav-link i {
    font-size: 24px;
    color: white;
    display: block;
}


.nav-link.active {
    background-color: white;
    color: red !important;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 85px;
    height: 100%;
    padding: 0;
}

.sidebar-logo {
    text-align: center;
    padding: 0;
}

.nav-link {
    color: white;
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
    font-size: 14px;
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.sidebar a {
    color: inherit !important;
    text-decoration: none !important;
}

.sidebar a:hover {
    color: inherit;
}

.card a {
    color: inherit !important;
    text-decoration: none !important;
}

.card a:hover {
    text-decoration: underline !important;
    text-decoration-color: red !important;
}

.acti {
    color: #b6b7b9 !important;
}

.content-wrapper {
    margin-left: 95px;
    padding-top: 5px;
}

.section-top {
    display: flex;
    align-items: center;
}

.menu-icon {
    color: red;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

/* specific to second columns */

.left-navigation {
    width: 125px;
    background-color: white;
    color: red;
    padding: 0;
}

.left-navigation ul {
    list-style-type: none;
    padding: 0;
}

.left-navigation ul li {
    margin: 0;
    padding-top: 15px;
}

.left-navigation ul li a {
    text-decoration: none;
    color: red;
    font-size: 16px;
    padding-left: 10px;
    display: block;
}

.left-navigation ul li.selected a {
    color: black !important;
    border-left: 2px solid black;
    padding-left: 8px;
}

/* .course-card {
    display: inline-block;
    width: 500px; 
    vertical-align: top; 
  } */
  

/* for right content */

.right-content {
    margin-left: 100px;
}

/* Custom CSS */
.inner-content{
    padding-left: 10px;
}

.dashboard {
    font-size: 36px;
    color: #6A6F72;
    font-weight: 100;
}

.published {
    font-size: 28px;
    color: black;
    font-weight: 500;
}

/* Custom CSS */
.course-card {
    width: 255px;
    margin: 15px 15px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    /* padding: 10px; */
    transition: box-shadow 0.3s; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
}

.course-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.course-card .upper-half {
    color: white;
    padding: 0px;
    height: 160px;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.course-card .upper-half .dots {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.course-card .lower-half {
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    color: #6A6F72;
    font-size: 14px;
    height: 150px;
}


.darkblue{
    background-color: #0577BC;
}

.font-darkblue{
    color:  #0577BC !important;
    font-weight: 1000;
    font-size: 16px;
}

.back-lightgray{
    background-color: #EBEDEE;
}

.font-lightgray{
    color:  #EBEDEE !important;
    font-weight: 1000;
}

.back-darkgray{
    background-color: #C1C1C1;
}

.font-darkgray{
    color:  #C1C1C1 !important;
    font-weight: 1000;
}

.back-lightblue{
    background-color: #2DB9FF;
}

.font-lightblue{
    color:  #2DB9FF !important;
    font-weight: 1000;
}

.course-start {
    font-size: 14px;
    overflow: hidden;
    color:#b6b7b9;   
}


.new-course, .course-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.new-course input, .course-item span {
    flex: 1;
    margin-right: 10px;
}

.addButton {
    padding: 5px 15px;
    margin-left: 5px;
    border: none;
    background-color: #42a54d;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.updateButton {
    padding: 5px 15px;
    margin-left: 5px;
    border: none;
    background-color: #bf2f36;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

/* button:hover {
    background-color: #42a54d;
} */


.course-term{
    font-size: 14px;
    overflow: hidden;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 95;
    width: 100%;
    background-color: white;
    z-index: 1000; 
}

.inner-content {
    margin-top: 80px;
    margin-left: 10px;
}

@media (min-width: 992px) {
    .course-card {
        max-width: 262px; 
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .course-card {
        max-width: 262px; 
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .course-card {
        max-width: 262px; 
    }
}

@media (max-width: 575px) {
    .course-card {
        max-width: 100%; 
    }
}