/* common */

body {
    font-family: 'Lato', sans-serif;
}

.menu-text {
    color: red;
}

.nav-link i {
    font-size: 24px;
    color: white;
    display: block;
}


.right-content {
    margin-left: 100px;
}

.nav-link.active {
    background-color: white;
    color: red !important;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 95;
    width: 100%;
    background-color: white;
    z-index: 1000; 
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 85px;
    height: 100%;
    padding: 0;
}

.sidebar-logo {
    text-align: center;
    padding: 0;
}

.nav-link {
    color: white;
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
    font-size: 14px;
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}


.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
}

.breadcrumb-item:last-of-type::before {
    content: ">";
}

.act {
    color: #b6b7b9 !important;
}

.pas {
    color: #ff0000 !important;
}

.content-wrapper {
    margin-left: 95px;
    padding-top: 20px;
}

.margin-right-5 {
    margin-right: 5px;
}

.top-section {
    display: flex;
    align-items: center;
}

.margin-right-100 {
    margin-right: 100px;
 }

.margin-top-10 {
    margin-top: 10px;
}
.menu-icon {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.profile-name {
    font-size: 18px;
    color: black;
    margin-left: 25px;
}

/* specific to second columns */

.left-navigation {
    width: 125px;
    background-color: white;
    color: red;
    padding: 0;
}

.left-navigation ul {
    list-style-type: none;
    padding: 0;
}

.flex-container {
    display: flex;
}

.route-content {
    flex-grow: 1;
}

.left-navigation ul li {
    margin: 0;
    padding-top: 15px;
}

.left-navigation ul li a {
    text-decoration: none;
    color: red;
    font-size: 16px;
    padding-left: 10px;
    display: block;
}

.left-navigation ul li .selected {
    color: black !important;
    border-left: 2px solid black;
    padding-left: 8px;
}

/* for right content */

.right-content {
    margin-left: 100px;
}

@media (max-width: 1300px) {
    .left-navigation {
        display: none;
    }

    .right-content {
        margin-left: 0;
    }

    .sidebar {
        display: none;
    }
}